# Local Claude config
.claude.local.md

# No maven stuff
target/
**/Version.java
out/
jpackage

# No node stuff
node_modules/
settings.local.json

# Reference images during development
images/CleanShot*.png
.DS_Store

# IntelliJ IDEA
.idea/compiler.xml
